<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silenzyo's Elite Spawn Tracker</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/timer.js" defer></script>
</head>
<body>
    <h1>Silenzyo's Elite Spawn Tracker</h1>
    <h2>(And Contract helper)</h2>
    <div class="tab-container">
        <button class="active">Syleus's Abyss</button>
        <button>Shadowed Crypt</button>
        <button>Sanctum of Desire</button>
    </div>
    <div class="timer-container">
    <div id="timer1" class="timer-box">
        <h2>5F</h2>
        <!-- TODO replace with my own imges -->
        <img src="../static/images/contracts_syleus_abyss_5f.webp" alt="5F Map" class="location-map">
        <p></p>
        <button class="start-timer">Start Timer</button>
        <div class="countdown"></div>
    </div>
    <div id="timer2" class="timer-box wide-box">
        <h2>6F</h2>
        <!-- TODO replace with my own imges -->
        <img src="../static/images/contracts_syleus_abyss_6f.webp" alt="6F Map" class="location-map">
        <div class="timer-sections">
            <div class="timer-section">
                <p>West</p>
                <button class="start-timer">Start Timer</button>
                <div class="countdown"></div>
            </div>
            <div class="timer-section">
                <p>North</p>
                <button class="start-timer">Start Timer</button>
                <div class="countdown"></div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>
